<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>wacai02</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.shsxt.controller.UserLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLogOut</servlet-name>
    <servlet-class>com.shsxt.controller.UserLogOut</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginFilter01</servlet-name>
    <servlet-class>com.shsxt.filters.LoginFilter01</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AccountManagerControler</servlet-name>
    <servlet-class>com.shsxt.controller.AccountManagerControler</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PayInManagerController</servlet-name>
    <servlet-class>com.shsxt.controller.PayInManagerController</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/userLogin.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogOut</servlet-name>
    <url-pattern>/userLogOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginFilter01</servlet-name>
    <url-pattern>/loginFilter01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountManagerControler</servlet-name>
    <url-pattern>/accountManagerControler.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayInManagerController</servlet-name>
    <url-pattern>/payInManagerController.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>